USE [SWP-PROTOTYPE]
GO
/****** Object:  Table [dbo].[AvailableModelPeripherals]    Script Date: 6/18/2025 4:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvailableModelPeripherals](
	[PeripheralId] [int] NOT NULL,
	[ModelId] [int] NOT NULL,
 CONSTRAINT [pk_avaimodperi] PRIMARY KEY CLUSTERED 
(
	[PeripheralId] ASC,
	[ModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingPeripherals]    Script Date: 6/18/2025 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingPeripherals](
	[PeripheralId] [int] NOT NULL,
	[ModelId] [int] NOT NULL,
 CONSTRAINT [pk_bookperi] PRIMARY KEY CLUSTERED 
(
	[PeripheralId] ASC,
	[ModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 6/18/2025 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[VehicleId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 6/18/2025 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[ChatMessageId] [int] IDENTITY(1,1) NOT NULL,
	[ChatId] [int] NOT NULL,
	[SenderId] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChatMessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chats]    Script Date: 6/18/2025 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chats](
	[ChatId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[StaffId] [int] NULL,
	[Status] [varchar](10) NOT NULL,
	[Priority] [varchar](10) NOT NULL,
	[OpenTime] [datetime] NOT NULL,
	[Subject] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriverLicenses]    Script Date: 6/18/2025 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverLicenses](
	[UserId] [int] NOT NULL,
	[LicenseTypeId] [int] NOT NULL,
	[LicenseId] [varchar](256) NOT NULL,
	[HolderName] [nvarchar](256) NOT NULL,
	[DateOfIssue] [date] NOT NULL,
 CONSTRAINT [pk_drlc] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LicenseTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriverLicenseTypes]    Script Date: 6/18/2025 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverLicenseTypes](
	[LicenseTypeId] [int] IDENTITY(1,1) NOT NULL,
	[LicenseTypeCode] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LicenseTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 6/18/2025 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[FeedBackId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](256) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[ImagePath] [varchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedBackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LicenseTypeToVehicleType]    Script Date: 6/18/2025 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenseTypeToVehicleType](
	[LicenseTypeId] [int] NOT NULL,
	[VehicleTypeId] [int] NOT NULL,
 CONSTRAINT [pk_lctvht] PRIMARY KEY CLUSTERED 
(
	[LicenseTypeId] ASC,
	[VehicleTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturers]    Script Date: 6/18/2025 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[ManufacturerId] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ManufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 6/18/2025 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[AmountPaid] [bigint] NOT NULL,
	[PaymentDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peripherals]    Script Date: 6/18/2025 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peripherals](
	[PeripheralId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[RatePerDay] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PeripheralId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 6/18/2025 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TypeId] [int] NOT NULL,
	[Title] [nvarchar](256) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[ImagePath] [varchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportTypes]    Script Date: 6/18/2025 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportTypes](
	[ReportTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 6/18/2025 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ModelId] [int] NOT NULL,
	[Rate] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[IsVisible] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shops]    Script Date: 6/18/2025 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shops](
	[Shopid] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](256) NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Shopid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/18/2025 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[PasswordHash] [varchar](256) NOT NULL,
	[Role] [varchar](10) NOT NULL,
	[FullName] [nvarchar](256) NULL,
	[Address] [nvarchar](256) NULL,
	[CreationDate] [date] NOT NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[DateOfBirth] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[GoogleuserId] [varchar](256) NULL,
	[Sub] [varchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [unique_sub] UNIQUE NONCLUSTERED 
(
	[Sub] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleModels]    Script Date: 6/18/2025 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleModels](
	[ModelId] [int] IDENTITY(1,1) NOT NULL,
	[VehicleTypeId] [int] NOT NULL,
	[ShopId] [int] NOT NULL,
	[ModelName] [nvarchar](100) NOT NULL,
	[RatePerDay] [bigint] NOT NULL,
	[ManufacturerId] [int] NOT NULL,
	[ImageFile] [varchar](100) NULL,
	[Description] [nvarchar](max) NOT NULL,
	[UpFrontPercentage] [int] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 6/18/2025 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleId] [int] IDENTITY(1,1) NOT NULL,
	[ModelId] [int] NOT NULL,
	[Condition] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleTypes]    Script Date: 6/18/2025 4:38:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleTypes](
	[VehicleTypeId] [int] IDENTITY(1,1) NOT NULL,
	[VehicleTypeName] [varchar](100) NOT NULL,
	[CylinderVolume_cm3] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Chats] ADD  DEFAULT ('Unresolved') FOR [Status]
GO
ALTER TABLE [dbo].[Chats] ADD  DEFAULT ('Low') FOR [Priority]
GO
ALTER TABLE [dbo].[Chats] ADD  DEFAULT (getdate()) FOR [OpenTime]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((0)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[Shops] ADD  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Customer') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [EmailConfirmed]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [Sub]
GO
ALTER TABLE [dbo].[VehicleModels] ADD  DEFAULT ((50)) FOR [UpFrontPercentage]
GO
ALTER TABLE [dbo].[VehicleModels] ADD  DEFAULT ((0)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT ('Normal') FOR [Condition]
GO
ALTER TABLE [dbo].[AvailableModelPeripherals]  WITH CHECK ADD  CONSTRAINT [fk_avaimodperi_modl] FOREIGN KEY([ModelId])
REFERENCES [dbo].[VehicleModels] ([ModelId])
GO
ALTER TABLE [dbo].[AvailableModelPeripherals] CHECK CONSTRAINT [fk_avaimodperi_modl]
GO
ALTER TABLE [dbo].[AvailableModelPeripherals]  WITH CHECK ADD  CONSTRAINT [fk_avaimodperi_peri] FOREIGN KEY([PeripheralId])
REFERENCES [dbo].[Peripherals] ([PeripheralId])
GO
ALTER TABLE [dbo].[AvailableModelPeripherals] CHECK CONSTRAINT [fk_avaimodperi_peri]
GO
ALTER TABLE [dbo].[BookingPeripherals]  WITH CHECK ADD  CONSTRAINT [fk_bookperi_modl] FOREIGN KEY([ModelId])
REFERENCES [dbo].[VehicleModels] ([ModelId])
GO
ALTER TABLE [dbo].[BookingPeripherals] CHECK CONSTRAINT [fk_bookperi_modl]
GO
ALTER TABLE [dbo].[BookingPeripherals]  WITH CHECK ADD  CONSTRAINT [fk_bookperi_peri] FOREIGN KEY([PeripheralId])
REFERENCES [dbo].[Peripherals] ([PeripheralId])
GO
ALTER TABLE [dbo].[BookingPeripherals] CHECK CONSTRAINT [fk_bookperi_peri]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [fk_bookings_users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [fk_bookings_users]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [fk_bookings_vehicle] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([VehicleId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [fk_bookings_vehicle]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [fk_chtmsg_chat] FOREIGN KEY([ChatId])
REFERENCES [dbo].[Chats] ([ChatId])
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [fk_chtmsg_chat]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [fk_chtmsg_sender] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [fk_chtmsg_sender]
GO
ALTER TABLE [dbo].[Chats]  WITH CHECK ADD  CONSTRAINT [fk_chat_staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Chats] CHECK CONSTRAINT [fk_chat_staff]
GO
ALTER TABLE [dbo].[Chats]  WITH CHECK ADD  CONSTRAINT [fk_chat_user] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Chats] CHECK CONSTRAINT [fk_chat_user]
GO
ALTER TABLE [dbo].[DriverLicenses]  WITH CHECK ADD  CONSTRAINT [fk_drlc_drlct] FOREIGN KEY([LicenseTypeId])
REFERENCES [dbo].[DriverLicenseTypes] ([LicenseTypeId])
GO
ALTER TABLE [dbo].[DriverLicenses] CHECK CONSTRAINT [fk_drlc_drlct]
GO
ALTER TABLE [dbo].[DriverLicenses]  WITH CHECK ADD  CONSTRAINT [fk_drlc_users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[DriverLicenses] CHECK CONSTRAINT [fk_drlc_users]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [fk_fdbck_user] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [fk_fdbck_user]
GO
ALTER TABLE [dbo].[LicenseTypeToVehicleType]  WITH CHECK ADD  CONSTRAINT [fk_lctvht_lct] FOREIGN KEY([LicenseTypeId])
REFERENCES [dbo].[DriverLicenseTypes] ([LicenseTypeId])
GO
ALTER TABLE [dbo].[LicenseTypeToVehicleType] CHECK CONSTRAINT [fk_lctvht_lct]
GO
ALTER TABLE [dbo].[LicenseTypeToVehicleType]  WITH CHECK ADD  CONSTRAINT [fk_lctvht_vht] FOREIGN KEY([VehicleTypeId])
REFERENCES [dbo].[VehicleTypes] ([VehicleTypeId])
GO
ALTER TABLE [dbo].[LicenseTypeToVehicleType] CHECK CONSTRAINT [fk_lctvht_vht]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [fk_pay_bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [fk_pay_bookings]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [fk_rep_type] FOREIGN KEY([TypeId])
REFERENCES [dbo].[ReportTypes] ([ReportTypeId])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [fk_rep_type]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [fk_rep_user] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [fk_rep_user]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [fk_rv_mdl] FOREIGN KEY([ModelId])
REFERENCES [dbo].[VehicleModels] ([ModelId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [fk_rv_mdl]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [fk_rv_usr] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [fk_rv_usr]
GO
ALTER TABLE [dbo].[VehicleModels]  WITH CHECK ADD  CONSTRAINT [fk_vhm_manu] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturers] ([ManufacturerId])
GO
ALTER TABLE [dbo].[VehicleModels] CHECK CONSTRAINT [fk_vhm_manu]
GO
ALTER TABLE [dbo].[VehicleModels]  WITH CHECK ADD  CONSTRAINT [fk_vhm_shop] FOREIGN KEY([ShopId])
REFERENCES [dbo].[Shops] ([Shopid])
GO
ALTER TABLE [dbo].[VehicleModels] CHECK CONSTRAINT [fk_vhm_shop]
GO
ALTER TABLE [dbo].[VehicleModels]  WITH CHECK ADD  CONSTRAINT [fk_vhm_vht] FOREIGN KEY([VehicleTypeId])
REFERENCES [dbo].[VehicleTypes] ([VehicleTypeId])
GO
ALTER TABLE [dbo].[VehicleModels] CHECK CONSTRAINT [fk_vhm_vht]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [fk_vehicle_model] FOREIGN KEY([ModelId])
REFERENCES [dbo].[VehicleModels] ([ModelId])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [fk_vehicle_model]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [ck_bookings_date] CHECK  (([StartDate]<[EndDate]))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [ck_bookings_date]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [ck_bookings_status] CHECK  (([Status]='Returned' OR [Status]='Active' OR [Status]='WaitingPickup' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [ck_bookings_status]
GO
ALTER TABLE [dbo].[Chats]  WITH CHECK ADD  CONSTRAINT [ck_chat_priority] CHECK  (([Priority]='Low' OR [Priority]='Medium' OR [Priority]='High' OR [Priority]='Critical'))
GO
ALTER TABLE [dbo].[Chats] CHECK CONSTRAINT [ck_chat_priority]
GO
ALTER TABLE [dbo].[Chats]  WITH CHECK ADD  CONSTRAINT [ck_chat_status] CHECK  (([Status]='Resolved' OR [Status]='Unresolved'))
GO
ALTER TABLE [dbo].[Chats] CHECK CONSTRAINT [ck_chat_status]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [ck_pay_amount] CHECK  (([AmountPaid]>(0)))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [ck_pay_amount]
GO
ALTER TABLE [dbo].[Shops]  WITH CHECK ADD  CONSTRAINT [ck_shop_status] CHECK  (([Status]='Closed' OR [Status]='Open'))
GO
ALTER TABLE [dbo].[Shops] CHECK CONSTRAINT [ck_shop_status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [ck_user_role] CHECK  (([Role]='Admin' OR [Role]='Staff' OR [Role]='Customer'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [ck_user_role]
GO
